<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Sudoku of the Day</title>
    <style>
        input { 
            border: solid thin #bababa; 
            text-align: center; 
            font-size: 25px;
        }
        input {
            height: 55px;
            width: 55px; 
        }
        input:focus {
            background-color: #bababa;
            outline: none;
        }
        input:disabled:hover {
            background-color: #dde5ff;
        }
        #board {
            width: 501px;
            margin-bottom: 20px;
            border: solid medium #343a40; 
        }
        button {
            height: 70px;
        }
        #input-box {
            width: 300px;
            margin-left: 15px;
            margin-bottom: 20px;            
        }
    </style>
</head>
<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand ml-5" href="/">SUDOKU</a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mr-5" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">How to Play</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Leaderboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-secondary" href="#">Login/Register</a>
                </li>
            </ul>
        </div>  
    </nav>
    <!-- main content -->
    <div class="container mt-4">
        <h1 class="mb-4 col-10 mx-auto">Sudoku of the day</h1>
        <div class="row col-10 mx-auto">
            <!-- sudoku board -->
            <div class="col mr-5">
                <div id="board"></div>
            </div>
            <!-- input buttons -->
            <div class="col">
                <div id="input-box mx-auto">
                    <div class="row">
                        <button id="one" type="submit" class="btn btn-outline-secondary col rounded-0">1</button>
                        <button id="two" type="submit" class="btn btn-outline-secondary col rounded-0">2</button>
                        <button id="three" type="submit" class="btn btn-outline-secondary col rounded-0">3</button>
                    </div>
                    <div class="row">
                        <button id="four" type="submit" class="btn btn-outline-secondary col rounded-0">4</button>
                        <button id="five" type="submit" class="btn btn-outline-secondary col rounded-0">5</button>
                        <button id="six" type="submit" class="btn btn-outline-secondary col rounded-0">6</button>
                    </div>
                    <div class="row">
                        <button id="seven" type="submit" class="btn btn-outline-secondary col rounded-0">7</button>
                        <button id="eight" type="submit" class="btn btn-outline-secondary col rounded-0">8</button>
                        <button id="nine" type="submit" class="btn btn-outline-secondary col rounded-0">9</button>
                    </div>
                    <div class="row">
                        <button id="clear" type="submit" class="btn btn-outline-secondary col rounded-0">CLEAR</button>
                        <button id="erase" type="submit" class="btn btn-outline-secondary col rounded-0">ERASE</button>
                    </div>
                    <!-- <div class="row">
                        <button id="notes" type="submit" class="btn btn-outline-secondary col rounded-0">NOTES</button>
                        <button id="hint" type="submit" class="btn btn-outline-secondary col rounded-0">HINTS</button>
                    </div> -->
                    <div class="row">
                        <button id="new-game" type="submit" class="btn btn-outline-secondary col rounded-0">NEW GAME</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var board = [
            [4,0,8,0,7,0,5,0,0],
            [0,6,0,8,2,5,0,4,0],
            [5,9,0,6,0,4,8,3,7],
            [6,7,1,3,9,0,2,5,4],
            [0,5,9,2,4,6,3,0,1],
            [2,3,4,0,0,7,9,6,0],
            [7,0,5,4,8,9,0,1,3],
            [1,0,3,7,6,0,4,0,5],
            [9,4,6,0,0,1,7,8,2],
        ]

        function displayBoard(){
            var output = '';

            for(var row = 0; row < board.length; row++){
                output += "<tr>";
                for( var col = 0; col < board[row].length; col++){
                    if(board[row][col] == 0){
                        output += `<td><input type='text' maxlength='1'></td>`;
                    }
                    else{
                        output += `<td><input type='text' maxlength='1' value=${board[row][col]} disabled></td>`;
                    }
                }
                output += "</tr>";
            }
            document.getElementById('board').innerHTML = output;
        }

        displayBoard();

    </script>
</body>
</html>