<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/sudoku.css' %}">
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Sudoku of the Day</title>
</head>
<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand ml-5" href="/">SUDOKU</a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mr-5" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">How to Play</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Leaderboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-secondary" href="/sign_in">Login/Register</a>
                </li>
            </ul>
        </div>  
    </nav>
    <!-- main content -->
    <div class="container mt-4">
        <h1 class="mb-4 col-10 mx-auto">Sudoku of the day</h1>
        <div class="row col-10 mx-auto">
            <!-- sudoku board -->
            <div class="col mr-5">
                <div id="board"></div>
            </div>
            <!-- input buttons -->
            <div class="col px-3">
                <div id="input-box mx-auto">
                    <div class="row">
                        <button id="one" type="submit" value=1 class="btn btn-outline-secondary col rounded-0 border-bottom-0 border-right-0">1</button>
                        <button id="two" type="submit" value=2 class="btn btn-outline-secondary col rounded-0 border-bottom-0 border-right-0">2</button>
                        <button id="three" type="submit" value=3 class="btn btn-outline-secondary col rounded-0 border-bottom-0">3</button>
                    </div>
                    <div class="row">
                        <button id="four" type="submit" value=4 class="btn btn-outline-secondary col rounded-0 border-bottom-0 border-right-0">4</button>
                        <button id="five" type="submit" value=5 class="btn btn-outline-secondary col rounded-0 border-bottom-0 border-right-0">5</button>
                        <button id="six" type="submit" value=6 class="btn btn-outline-secondary col rounded-0 border-bottom-0">6</button>
                    </div>
                    <div class="row">
                        <button id="seven" type="submit" value=7 class="btn btn-outline-secondary col rounded-0 border-bottom-0 border-right-0">7</button>
                        <button id="eight" type="submit" value=8 class="btn btn-outline-secondary col rounded-0 border-bottom-0 border-right-0">8</button>
                        <button id="nine" type="submit" value=9 class="btn btn-outline-secondary col rounded-0 border-bottom-0">9</button>
                    </div>
                    <div class="row">
                        <button id="clear" type="submit" class="btn btn-outline-secondary col rounded-0 border-bottom-0 border-right-0">CLEAR</button>
                        <button id="erase" type="submit" class="btn btn-outline-secondary col rounded-0 border-bottom-0">ERASE</button>
                    </div>
                    <div class="row">
                        <button id="validate" type="submit" class="btn btn-outline-secondary col rounded-0">VALIDATE</button>
                        <!-- <form id="valid_form" action="/validate" method="post">
                            {% csrf_token %}
                            <input type="submit" value="VALIDATE" class="btn btn-outline-secondary col rounded-0">
                        </form> -->
                    </div>
                    <div class="row">
                        <!-- <button id="new_game" type="submit" class="btn btn-outline-secondary col rounded-0">NEW GAME</button> -->
                        <a href="/new_game" class="btn btn-outline-info col rounded-0">NEW GAME</a>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" id="csrf" value="{{csrf_token}}">
    </div>
    <script>
        var board = [];
        var original_board = [];
        var allInputs = [];
        
        // var validate_result = [];

        // function displayBoard(){
        //     var output = '';
        //     for(var row = 0; row < board.length; row++){
        //         output += "<tr>";
        //         for( var col = 0; col < board[row].length; col++){
        //             if(board[row][col] == 0){
        //                 output += `<td><input type='text' maxlength='0' id=${row}${col}></td>`;
        //             }
        //             else{
        //                 output += `<td><input type='text' maxlength='1' value=${board[row][col]} disabled></td>`;
        //             }
        //         }
        //         output += "</tr>";
        //     }
        //     document.getElementById('board').innerHTML = output;
        // }


        function generateBoard(){
            var csrf = $("#csrf").val()
            var output = '';
            $.get("https://sugoku.herokuapp.com/board?difficulty=easy", function(data){
                board = data['board'];
                original_board = data['board'];
            for(var row = 0; row < board.length; row++){
                output += "<tr>";
                for( var col = 0; col < board[row].length; col++){
                    if(board[row][col] == 0){
                        output += `<td><input type='text' maxlength='0' id=${row}${col}></td>`;
                    }
                    else{
                        output += `<td><input type='text' maxlength='1' value=${board[row][col]} disabled></td>`;
                    }
                }
                output += "</tr>";
            }
            console.log("BOARD: ",board)
            $.ajaxSetup({
                beforeSend:(xhr, settings) =>{
                    xhr.setRequestHeader("X-CSRFToken", csrf)
                },
                url:"http://localhost:8000/",
                type:"POST",
                crossDomain:true,
                data:{
                    "board":board
                },
                success:()=>{
                    console.log('success')
                },
                complete:()=>{
                    console.log("complete")
                }
            })
            $.ajax()
            document.getElementById('board').innerHTML = output;
                console.log("generated board:", board);
            });
        }
        
        // new_game = document.getElementById('new_game');
        // $(document).on('click', 'button', function(){
        //     console.log("new_game")
        //     displayBoard();
        // });
        generateBoard();

        var cell_id, set_value;
        // get the selected input id
        $(document).on('focus', 'input', function(){
            cell_id = this.id;
            // console.log("cell_id:", cell_id);
            $(`#${cell_id}`).css("color", "black");

        });

        // get the clicked button value, and set it as the input value
        $(document).on('click', 'button:not(#validate)', function(){
            set_value = $(this).val();
            var cell = document.getElementById(cell_id)
            $(cell).val(set_value);
            board[cell_id[0]][cell_id[1]] = parseInt(set_value);
            allInputs.push(cell_id);    // keep track what has been entered


            console.log(allInputs);
            console.log(board);
        });

        
        // sudoku validation
        function checkRows(){
            var correct = true;
            for(var row = 0; row < 9; row++){
                var arr = [];
                for(var col = 0; col < 9; col ++){
                    if(board[row][col] != 0){
                        if(arr.includes(board[row][col]) == true){
                            var id = `${row}${col}`;
                            if(allInputs.includes(id) == true){
                                $(`#${id}`).css("color", "red");
                            }
                            correct = false;
                        }
                        else if(arr.includes(board[row][col]) == false){
                            arr.push(board[row][col]);
                        }
                    }
                }
            
            }
            return correct;
        }
        
        function checkCols(){
            var correct = true;
            for(var col = 0; col < 9; col++){
                var arr = [];
                for(var row = 0; row < 9; row++){
                    if(board[row][col] != 0){
                        if(arr.includes(board[row][col]) == true){
                            var id = `${row}${col}`;
                            if(allInputs.includes(id) == true){
                                $(`#${id}`).css("color", "red");
                            }
                            correct = false;
                        }
                        else if(arr.includes(board[row][col]) == false){
                            arr.push(board[row][col]);
                        }
                    }
                }
            }
            return correct;
        }

        function checkBox(r,c){
            var correct = true;
            var arr = [];
            for(var row = r; row < (r+3); row++){
                for(var col = r; col < (r+3); col++){
                    if(board[row][col] != 0){
                        if(arr.includes(board[row][col]) == true){
                            var id = `${row}${col}`;
                            if(allInputs.includes(id) == true){
                                $(`#${id}`).css("color", "red");
                            }
                            correct = false;
                        }
                        else if(arr.includes(board[row][col]) == false){
                            arr.push(board[row][col]);
                        }
                    }
                }
            }
            return correct;
        }

        function checkAllBoxes(){
            for(var row = 0; row < 7; row++){
                for(var col = 0; col < 7; col++){
                    if(checkBox(col, row) == false){
                        return false;
                    }
                }
            }
            return true;
        }

        $(document).on('click', '#validate', function(){
            validate_result = [];
            console.log("validate is clicked------");
            // check if board is valid
            console.log(checkRows());
            console.log(checkCols());
            console.log(checkAllBoxes());

            return false;
        });

    </script>
</body>
</html>